---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

<header class="archive-header">
  <div class="cover-container row">
    <div class="inner cover col-md-12">
      <h1 class="cover-heading" itemprop="name headline"><a href="https://vadagon.com/">{{ page.title | escape }}</a></h1>
    </div>
  </div>
</header>

<div class="container blog">
  <div class="item row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">   
      <div class="content">
        <div class="post-content" itemprop="articleBody">
          {{ content }} 

          {%- for post in site.posts -%}

            <div data-sr="ease-in-out wait 0.25s" class="col-md-4 col-sm-6 col-xs-12 blog-item">
              <div class="item">
                <a class="item-featured-image" href="{{ post.url | relative_url }}"><img src="/assets/images/blog.jpg" class="attachment-latte-blogposts size-latte-blogposts wp-post-image"/></a>
                <div class="item-meta">
                  <h3 class="post-title">
                    <a class="post-link" href="{{ post.url | relative_url }}">
                      {{ post.title | escape }}
                    </a>
                  </h3>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                </div>
              </div>
            </div>

          {%- endfor -%}

        </div>
      </div>
    </div>
  </div>
</div>

</article>

