---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

<header class="archive-header">
  <div class="cover-container row">
    <div class="inner cover col-md-12">
      <h1 class="cover-heading" itemprop="name headline"><a href="https://vadagon.com/">{{ page.title | escape }}</a></h1>
    </div>
  </div>
</header>

<div class="container blog">
  <div class="item row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">   
      <div class="content">
        <div class="post-content" itemprop="articleBody">
          {{ content }} 
        </div>
      </div>
    </div>
  </div>
</div>

</article>
